
@{
    ViewBag.Title = "Trang chủ";
}


<main id="main-content" class="col-md-9 m-0 ms-sm-auto col-lg-10 px-md-2">


    <div class="container-fluid pt-4 mt-2 mb-2 bg-light card shadow-sm">
        <div class="row">
            <div class="col-md-4">
                <!-- Column 1 -->
                <div class="card mb-4 shadow-sm" style="border-radius: 0px;">
                    <div class="card-body d-flex" style="padding-bottom: 0;">

                        <div class="col-3">
                            <i class="fa-solid fa-users"
                               style="border-radius: 5px;border: 1px solid rgb(211, 139, 6);background-color: rgb(211, 139, 6);padding: 5px;font-size: 40px;margin-top: 10px;color: white"></i>
                        </div>
                        <div class="col-9">
                            <p class="p-text">Tổng sinh viên toàn trường</p>
                            <p style="font-size: 40px;color: rgb(211, 139, 6);margin: 0;">5000</p>
                            <div class="inline-container p-text">
                                <p>Nam</p>
                                <p>800</p>
                            </div>
                            <div class="inline-container p-text">
                                <p>Nữ</p>
                                <p>400</p>
                            </div>
                        </div>


                    </div>

                    <hr class="hr-card" style="margin: 0;margin-left: 50px;padding: 0;width: 276px;">
                    <div class="text-center" style="cursor:pointer;">
                        <p class="p-card"style="margin: 8px;font-weight: 700;" >
                            Xem chi tiết<i  style="padding-left: 5px;" class="fa-solid fa-arrow-right-to-bracket"></i>
                        </p>
                    </div>

                </div>
                <div class="card mb-4 shadow-sm" style="border-radius: 0px;">
                    <div class="card-body d-flex">
                        <div class="col-3">
                            <i class="fa-solid fa-users"
                               style="border-radius: 5px;border: 1px solid rgb(46, 114, 197);background-color: rgb(46, 114, 197);padding: 5px;font-size: 40px;margin-top: 10px;color: white"></i>
                        </div>
                        <div class="col-9">
                            <p class="p-text">Trình độ Thạc sĩ</p>
                            <p style="font-size: 40px;color: rgb(46, 114, 197);margin: 0;">5000</p>
                        </div>
                    </div>
                    <hr class="hr-card" style="margin: 0;margin-left: 50px;padding: 0;width: 276px;">
                    <div class="text-center">
                        <p class="p-card" style="margin: 8px;font-weight: 700;">
                            Xem chi tiết<i style="padding-left: 5px;" class="fa-solid fa-arrow-right-to-bracket"></i>
                        </p>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm" style="border-radius: 0px;">
                    <div class="card-body d-flex">
                        <div class="col-3">
                            <i class="fa-solid fa-users"
                               style="border-radius: 5px;border: 1px solid rgb(232, 63, 38);background-color: rgb(232, 63, 38);padding: 5px;font-size: 40px;margin-top: 10px;color: white"></i>
                        </div>
                        <div class="col-9">
                            <p class="p-text">Giảng viên thỉnh giảng</p>
                            <p style="font-size: 40px;color: rgb(232, 63, 38);margin: 0;">5000</p>
                        </div>
                    </div>
                    <hr class="hr-card" style="margin: 0;margin-left: 50px;padding: 0;width: 276px;">
                    <div class="text-center">
                        <p class="p-card" style="margin: 8px;font-weight: 700;">
                            Xem chi tiết<i style="padding-left: 5px;" class="fa-solid fa-arrow-right-to-bracket"></i>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <!-- Column 2 -->
                <div class="card mb-4 shadow-sm" style="border-radius: 0px;">
                    <div class="card-body d-flex" style="padding-bottom: 0;">
                        <div class="col-3">
                            <i class="fa-solid fa-users"
                               style="border-radius: 5px;border: 1px solid rgb(211, 139, 6);background-color: rgb(211, 139, 6);padding: 5px;font-size: 40px;margin-top: 10px;color: white"></i>
                        </div>
                        <div class="col-9">
                            <p class="p-text">Tổng sinh viên toàn trường</p>
                            <p style="font-size: 40px;color: rgb(211, 139, 6);margin: 0;">5000</p>
                            <div class="inline-container p-text">
                                <p>Nam</p>
                                <p>800</p>
                            </div>
                            <div class="inline-container p-text">
                                <p>Nữ</p>
                                <p>400</p>
                            </div>
                        </div>
                    </div>
                    <hr class="hr-card" style="margin: 0;margin-left: 50px;padding: 0;width: 276px;">
                    <div class="text-center">
                        <p class="p-card" style="margin: 8px;font-weight: 700;">
                            Xem chi tiết<i style="padding-left: 5px;" class="fa-solid fa-arrow-right-to-bracket"></i>
                        </p>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm" style="border-radius: 0px;">
                    <div class="card-body d-flex">
                        <div class="col-3">
                            <i class="fa-solid fa-users"
                               style="border-radius: 5px;border: 1px solid rgb(49, 223, 51);background-color: rgb(49, 223, 51);padding: 5px;font-size: 40px;margin-top: 10px;color: white"></i>
                        </div>
                        <div class="col-9">
                            <p class="p-text">Giảng viên thực tập</p>
                            <p style="font-size: 40px;color: rgb(49, 223, 51);margin: 0;">5000</p>
                        </div>
                    </div>
                    <hr class="hr-card" style="margin: 0;margin-left: 50px;padding: 0;width: 276px;">
                    <div class="text-center">
                        <p class="p-card" style="margin: 8px;font-weight: 700;">
                            Xem chi tiết<i style="padding-left: 5px;" class="fa-solid fa-arrow-right-to-bracket"></i>
                        </p>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm" style="border-radius: 0px;">
                    <div class="card-body d-flex">
                        <div class="col-3">
                            <i class="fa-solid fa-users"
                               style="border-radius: 5px;border: 1px solid rgb(44, 59, 218);background-color: rgb(44, 59, 218);padding: 5px;font-size: 40px;margin-top: 10px;color: white"></i>
                        </div>
                        <div class="col-9">
                            <p class="p-text">Tổng sinh viên toàn trường</p>
                            <p style="font-size: 40px;color: rgb(44, 59, 218);margin: 0;">5000</p>
                        </div>
                    </div>
                    <hr class="hr-card" style="margin: 0;margin-left: 50px;padding: 0;width: 276px;">
                    <div class="text-center">
                        <p class="p-card" style="margin: 8px;font-weight: 700;">
                            Xem chi tiết<i style="padding-left: 5px;" class="fa-solid fa-arrow-right-to-bracket"></i>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <!-- Column 3 -->
                <div class="card mb-4 shadow-sm" style="border-radius: 0px;">
                    <div class="card-title">Notificaitons</div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

