USE [DiemDanhMVC]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/6/2024 3:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diemdanh]    Script Date: 8/6/2024 3:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diemdanh](
	[madd] [bigint] IDENTITY(1,1) NOT NULL,
	[masv] [nvarchar](255) NULL,
	[nhomhp] [nvarchar](255) NOT NULL,
	[ngaydd] [nvarchar](max) NULL,
	[tinhtrang] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.diemdanh] PRIMARY KEY CLUSTERED 
(
	[madd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giangvien]    Script Date: 8/6/2024 3:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giangvien](
	[magv] [nvarchar](255) NOT NULL,
	[tengv] [nvarchar](255) NULL,
	[gioitinh] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[anhgv] [nvarchar](255) NULL,
	[hocvi] [nvarchar](255) NULL,
	[matkhau] [nvarchar](255) NOT NULL,
	[hocphanqly] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[magv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hocphan]    Script Date: 8/6/2024 3:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hocphan](
	[mahp] [nvarchar](255) NULL,
	[tenhp] [nvarchar](255) NULL,
	[nhomhp] [nvarchar](255) NOT NULL,
	[tinchi] [int] NOT NULL,
	[tiethoc] [nvarchar](50) NULL,
	[tenphong] [nvarchar](255) NULL,
	[thu] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.hocphan] PRIMARY KEY CLUSTERED 
(
	[nhomhp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sinhvien]    Script Date: 8/6/2024 3:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sinhvien](
	[masv] [nvarchar](255) NOT NULL,
	[tensv] [nvarchar](255) NOT NULL,
	[ngaysinh] [nvarchar](255) NOT NULL,
	[gioitinh] [nvarchar](255) NULL,
	[lop] [nvarchar](255) NULL,
	[hocphan] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[diemdanh] ON 

INSERT [dbo].[diemdanh] ([madd], [masv], [nhomhp], [ngaydd], [tinhtrang]) VALUES (1402, N'0022410841', N'JR01-05', N'06/08/2024', N'Có mặt')
INSERT [dbo].[diemdanh] ([madd], [masv], [nhomhp], [ngaydd], [tinhtrang]) VALUES (1403, N'0022411103', N'JR01-05', N'06/08/2024', N'Có mặt')
INSERT [dbo].[diemdanh] ([madd], [masv], [nhomhp], [ngaydd], [tinhtrang]) VALUES (1404, N'0022411113', N'JR01-05', N'06/08/2024', N'Có mặt')
SET IDENTITY_INSERT [dbo].[diemdanh] OFF
GO
INSERT [dbo].[giangvien] ([magv], [tengv], [gioitinh], [email], [anhgv], [hocvi], [matkhau], [hocphanqly]) VALUES (N'2368951773', NULL, NULL, N'ngochai1234@gmail.com', NULL, NULL, N'ngochai1234@gmail.com', N'JR01')
GO
INSERT [dbo].[hocphan] ([mahp], [tenhp], [nhomhp], [tinchi], [tiethoc], [tenphong], [thu]) VALUES (N'JR01', N'Python', N'JR01-05', 3, N'12345-123-123', N'101B4', N'345')
GO
INSERT [dbo].[sinhvien] ([masv], [tensv], [ngaysinh], [gioitinh], [lop], [hocphan]) VALUES (N'0021410087', N'Nguyễn Hải Đăng', N'03/12/2003', N'Nam', N'ĐHCNTT21A', NULL)
INSERT [dbo].[sinhvien] ([masv], [tensv], [ngaysinh], [gioitinh], [lop], [hocphan]) VALUES (N'0021410088', N'Nguyễn Ngọc Hải Đăng', N'31/01/2003', N'Nam', N'ĐHCNTT21A', NULL)
INSERT [dbo].[sinhvien] ([masv], [tensv], [ngaysinh], [gioitinh], [lop], [hocphan]) VALUES (N'0021410112', N'Trần Công Dinh', N'12/12/2003 12:00:00 AM', N'Nam', N'ĐHCNTT21A', NULL)
GO
